// Transition mixin
@mixin transitioner {
    transition: 0.25s ease-in-out;
}

// Main app
#app {
    @include transitioner;

    // Positioning
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Flex and alignment
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    // Verdana is close to velocibox font
    * {
        @include transitioner;
        font-family: "Verdana";
    }

    // Title
    .title { @include transitioner; }

    // Theme button styling
    #theme-select {
        @include transitioner;
        background-color: transparent;
        border: none;
        border-radius: 5pt;
        border: 1px solid;
        padding: 5pt;
    }

    // Clock thing
    #clock {
        // Segment display
        .segment-display {
            display: inline-block;
            text-align: center;
            position: relative;
            width: 160px;
            height: 155px;
            margin: 2pt;

            // Centered transform
            $center: translate(30px, 70px);

            // Base segment
            .segment {
                @include transitioner;

                // Draw segment
                display: block;
                position: absolute;
                height: 10px;
                width: 102px;
                transform: $center;
                border-radius: 5px;

                // Active/Deactive
                opacity: 0;
                &.active { opacity: 1; }
            }

            // Different segments in the display
            .seg-0 { transform: $center rotate(45deg) translate(0px, -45px); }
            .seg-1 { width: 53px; transform: $center rotate(-45deg) translate(40px, -30px); }
            .seg-2 { width: 53px; transform: $center rotate(-45deg) translate(40px, 65px); }
            .seg-3 { transform: $center rotate(45deg); }
            .seg-4 { width: 53px; transform: $center rotate(-45deg) translate(-8px, -30px); }
            .seg-5 { width: 53px; transform: $center rotate(-45deg) translate(-8px, 65px); }
            .seg-6 { transform: $center rotate(45deg) translate(-1px, 47px); }
        }
    }
}

// Theme creators
@mixin twotone-theme($color1, $color2, $text-color) {
    background-color: $color1;
    * { color: $text-color; }
    a { text-decoration: none; &,&:visited { color: $color2; } }
    .title { color: $color2; }
    .segment-display .segment { background-color: $color2; }
    #theme-select {
        color: $color2;
        &:hover {
            background-color: $color2 !important;
            color: $color1 !important;
        }
    }
}
@mixin tricolor-theme($color1, $color2, $color3, $background-color, $text-color) {
    background-color: $background-color;
    * { color: $text-color; }
    a { text-decoration: none; &,&:visited { color: $color3; } }
    .title { color: $text-color; }
    #hour-display .segment-display .segment { background-color: $color1; };
    #minute-display .segment-display .segment { background-color: $color2; };
    #second-display .segment-display .segment { background-color: $color3; };
}

// Themes
.black-white-theme { @include twotone-theme(black, white, white); }
.grey-skyblue-theme { @include twotone-theme(#ccc, #0af, black); }
.blue-orange-theme { @include twotone-theme(#0b03ff, #ff8503, white); }
.pink-green-theme { @include twotone-theme(#ff007b, #7bff00, black); }
.purple-yellow-theme { @include twotone-theme(#c401ff, #ffe101, white); }
.black-red-theme { @include twotone-theme(#000, #ff0000, white); }
.tricolor-theme { @include tricolor-theme(#f00, #ff0, #0af, #ccc, black); }
.drexel-theme { @include twotone-theme(#07294D, #FFC600, white); }
